main {
  min-height: 90vh;
}

/* Profile Screen - Start */
.bug-card {
  width: 32rem;
  background-color: rgb(87 107 128);
  border-radius: 3%;
}

/* Profile Screen - End */

/* Bug Details Screen - Start */
.bug-icon {
  font-size: 20px;
  color: lightblue;
}

/* Bug Details Screen - End */
