main {
  min-height: 90vh;
}

/* Profile Screen - Start */
.table {
  table-layout: fixed;
}
.profile-icon {
  font-size: 15px;
  color: #ffffff;
}
.profile-icon-edit {
  font-size: 15px;
  color: #3385ae;
}
.profile-icon-trash {
  font-size: 15px;
  color: #c45151;
}
/* Profile Screen - End */

/* Bug Details Screen - Start */
.bug-icon {
  font-size: 20px;
  color: lightblue;
}
/* Bug Details Screen - End */
