main {
  min-height: 90vh;
}

/* Profile Screen - Issue Cards - Start */
.icon-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.icon-font-styles {
  font-size: 40px;
  color: #ffffff;
  align-self: center;
}
/* Profile Screen - Issue Cards - End */
